{% extends 'magasin/base.html' %}
{% block title %} Fournisseurs {% endblock %}
{% block content %}
<!-- body -->
<div class="container-fluid mt-3">
    <div class="row-9" >
        <!-- all products -->
        <div  id='fournisseur' class="col-lg-9 mx-auto" >
            <div class="row mx-auto" >
                {% for fournisseur in fournisseurs %}
                <div class="card" id={{fournisseur.id}} style="width: 240px;border:black solid 1px;margin:5px;">
                     <hr class="dropdown-divider">
                    <div class="card-body">
                        <h5 class="card-title">Fournisseur</h5>
                         <p class="card-text">Nom: <b>{{fournisseur.nom}}</b></p>
                        <p class="card-text">Adresse: <b>{{fournisseur.adresse}}</b></p>
                        <p class="card-text">Email: {{fournisseur.email}}</p>
                        <p class="card-text">Tel: {{fournisseur.telephone}}</p>
                        {% if user.is_superuser %}
                        <a href="{% url 'modifier_fournisseur' fournisseur.id %}" class="btn btn-success">Edit</a>
                        <a href="{% url 'supprimer_fournisseur' fournisseur.id %}" class="btn btn-danger" >Delete</a>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}